@page
@model PRN221_Project_Cinema.Pages.Account.ChangePasswordModel
@{
}
<form asp-page="ChangePassword" method="post">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Old Password</label>
        <input name="curPass" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <span class="text-danger">@ViewData["wrongPassword"]</span>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">New Password</label>
        <input required name="newPass" type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Re-enter New Password</label>
        <input required name="renewPass" type="password" class="form-control" id="exampleInputPassword">
    </div>
    <span class="text-danger">@ViewData["notMatch"]</span>
    <button type="submit" class="btn btn-primary">Submit</button>
    <span class="text-success mt-4">@ViewData["success"]</span>
</form>