@page
@model PRN221_Project_Cinema.Pages.Account.ForgotPasswordModel
@{
}


<div class="text-center">
    <h1 class="display-4">Gửi mật khẩu mới đến email</h1>
    <hr />

    <form method="post" style="margin-top:100px">
        <table class="m-auto" style="width:40%">
            <tr>
                <td class="input-group-text" style="margin-right:4px; margin-top:2px">To</td>
                <td><input type="text" class="form-control" asp-for="sendmail.To" placeholder="Nhập email của bạn" /></td>
            </tr>
        </table>
        <input type="submit" class="btn-success mt-4 p-3" value="Gửi mail" />
    </form>
    <p>@ViewData["Message"]</p>
    <p>@ViewData["wrongEmail"]</p>
</div>