@page "/dashboard/genre/details"
@model PRN221_Project_Cinema.Pages.GenreDetailsModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Genre Detail";
}

<div class="container text-center">
    <h3 class="my-4">Genre Detail</h3>
    <div>
        <hr />
        <table class="table table-bordered">
            <tr>
                <td class="p-3 fw-bold">@Html.DisplayNameFor(model => model.Genre.Description)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Genre.Description)</td>
            </tr>
        </table>

        <div>
            <a class="btn btn-warning" asp-page="./GenreEdit" asp-route-id="@Model.Genre?.GenreId">Edit This Genre</a> |
            <a class="btn btn-primary" asp-page="./Genre">Back to Genre List</a>
        </div>
    </div>
</div>