@page "/dashboard/genre/delete"
@model PRN221_Project_Cinema.Pages.GenreDeleteModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Delete Genre";
}

<div class="container text-center">
    <h3 class="my-4">Are you sure you want to delete this genre?</h3>
    <div>
        <h4>Genre Information</h4>
        <hr />
        <table class="table table-bordered">
            <tr>
                <td class="p-3  fw-bold">@Html.DisplayNameFor(model => model.Genre.Description)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Genre.Description)</td>
            </tr>
        </table>

        <form method="post">
            <input type="hidden" asp-for="Genre.GenreId" />
            <input type="submit" value="Delete genre" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-page="./Genre">Back to List</a>
        </form>
    </div>
</div>
